{
  "experimentalBabelParserPluginsList": ["jsx", "typescript"],
  "importOrder": [
    "^[^.@]",
    "^@[^/]",
    "^\\.\\.",
    "^\\."
  ],
  "importOrderSeparation": true,
  "quoteProps": "preserve",
  "semi": false
}
